.linkSection {
    background-color: #111010;
    color: white;
    height: 70vh;
    padding: 130px 0 30px 0;
    div {
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-between;
    }
    div.link {
        width: calc(40% - 30px);
        display: flex;
    }
    .favi {
        background-color: #BF2603;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .fas {
        color: white;
    }
    // use before tags for favis???

}

.checker {
    background-color: #220303;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
    }
    .checkerText {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        box-shadow: #FF8327 10px 10px;
        width: 45%;
    }
    .checkerText p {
        margin-top: 0;
    }
}

.readMore {
    color: white;
    background-color: #BF2603;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 20px;
}

.hostaParty {
    background-color: #111010;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 70px 0;
    .party a {
        margin: 20px auto;
    }
    img {
        margin: 40px auto;
    }
    .events {
        display: flex;
        justify-content: space-between;
        div {
            width: 70%;
            text-align: left;
            display: flex;
            flex-direction: column;
            // align-self: center;
            justify-content: space-between;
        }
        img {
            width: 25%;
            box-shadow: #FF8327 10px 10px;
            margin: 0;
        }
    }
}

.gallery {
    background-color: #220303;
    padding: 70px 0;
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        width: 30%;
    }
}





// CONTACT

.contactMain {
    height: 60vh;
    background-color: rgb(26, 26, 26);
    color: white;
}

