.burger {
    display: none;
    font-size: 4rem;
    padding-top: 40px;
    color: white;
}

.linkSection {
    background-color: #111010;
    color: white;
    height: 65vh;
    padding-top: 120px;
    div.wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .link {
        width: 50%;
        display: flex;
        padding: 10px;
    }
    // .fa-2x,
    .favi {
        background-color: #BF2603;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: 7px;
        transition: 1s transform;
        cursor: pointer;
    }
    .favi:hover {
        background-color: white;
        .fas {
            color: #BF2603;
            transform: rotate(360deg);
        }
        transform: rotate(360deg);
    }
    .fas {
        color: white;
    }
    .linkText {
        padding-left: 10px;
    }
}

.checker {
    background-color: #220303;
    color: white;
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    .gridLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            margin-left: 30px;
        }
        img.chkImgOne {
            box-shadow: #FF8327 15px 15px;
            position: relative;
            top: -50px;
        }
    }
    .gridRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin-right: 30px;
        }
        img.chkImgTwo {
            box-shadow: #FF8327 -15px 15px;
            position: relative;
            bottom: -70px;
        }
    }
    p {
        max-width: 450px;
        text-align: left;
    }
}
// ------------------------------BUTTONS
.readMore {
    background-color: #BF2603;
    color: white;
    border: 4px double transparent;

    font-size: 3rem;
    font-family: 'Tulpen One', cursive;

    margin: 20px 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.party .readMore {
    width: 120px;
    border: 4px double transparent;

}
.readMore:hover {
    background-color: white;
    color: #BF2603;
    border: 4px double #BF2603;
}

.formButton {
    border: 4px double transparent;
    font-family: 'Tulpen One', cursive;
    width: 90%;
    margin: 20px auto;
}


// ------------------------------END BUTTONS
.hostaParty {
    background-color: #111010;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 70px 0;
    .party {
        display: flex;
        flex-direction: column;
        a {
            margin: 20px auto;
        }
        p {
            width: 70%;
            align-self: center;
        }
    }
    img {
        margin: 40px auto;
    }
    .events {
        display: flex;
        justify-content: space-between;
        div {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 30px;
        }
        img {
            width: 250px;
            height: 250px;
            box-shadow: #FF8327 10px 10px;
            margin: 0;
        }
    }
}

.gallery {
    background-color: #220303;
    padding: 70px 0;
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        width: 30%;
        transition: 0.5s transform;
    }
    ul li:hover {
        transform: scale(1.2);
    }
}





// CONTACT

.contactMain {
    background-color: rgb(26, 26, 26);
    color: white;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .contact {
        letter-spacing: 2.6px;
        .socials {
            margin-top: 100px;
            width: 50%;
            .contactFavis {
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
            }
        }

        .contactInfo {
            margin-top: 30px;
        }
    }
    .form {
        width: 70%;
        height: 500px;
        padding: 30px;
        position: relative;
        top: -120px;
        right: -50px;
        background-color: #220303;
        box-shadow: #FF8327 15px 15px;
        input[type=text],
        input[type=email],
        textarea {
            color: white;
            background-color: #220303;
            font-family: 'Chathura', sans-serif;    
            border: none;
            font-size: calc(2rem + 1vw);
            padding-left: 10px;
        }
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        input[type=text],
        input[type=email] {
            border-bottom: 1px white solid;
            width: 48%;
        }
        textarea {
            width: 100%;  
            height: 35vh;
            border: 1px white solid;
            margin-top: 30px;
            resize: none;
        }
        button {
            width: 100%;
        }
    }
}


// BLOG
.blogFullPage {
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 2.3fr 1fr 6fr;

    aside {
        background-color: #220303;
        color: white;
        text-align: left;
        margin-left: 10%;
        margin-top: 50px;
        padding: 0 20px;
        height: 32%;
        h2 {
            font-size: calc(2.5rem + 1.5vw);
        }
        p {
            font-size: calc(1.5rem + 1vw);
        }
        a {
            color: #FF8327;
            font-size: calc(1.5rem + 1vw);
        }
        img {
            position: relative;
            width: 120%;
            left: -50px;
            top: -30px;
        }
        ul li::before  {
            content: "•"; 
            transform: scaleX(5);
            color: #BF2603;
            display: inline-block; 
            font-size: 3rem;
            height: 10px;
        }
        ul li p {
            display: inline-block;
        }
    }

    .blogWrap {
        position: relative;
        top: -150px;
        right: 10px;
        color: white;
        .blogMain {
            img.blogTop {
                box-shadow: -30px 30px #FF8327;
                width: 65vw;
                position: relative;
                right: -30px;
            }
            .newMenu {
                border-left: 5px solid #FF8327;
                border-bottom: 5px solid #FF8327;
                padding: 60px;
                h3 {
                    color: #FF8327;
                }
            }
        } 
        // END BLOG MAIN
        .commentSection {
            color: white;
            padding: 50px;
            img {
                width: 100px;
                height: 100px;
            }
            .comment {
                display: flex;
                padding-top: 30px;
                div {
                    width: 80%;
                    padding-left: 20px;
                    h3 {
                        color: #FF8327;
                        line-height: 70%;
                    }
                }
            }
            // END COMMENT BUILD
            form {
                height: 400px;
                padding-top: 50px;
                input[type=text],
                input[type=email],
                textarea {
                    background-color: rgb(26, 26, 26);
                    font-family: 'Chathura', sans-serif;    
                    color: white;
                    border: none;
                    font-size: calc(2rem + 1vw);
                    padding-left: 10px;
                }
                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;  
                }
                input[type=text],
                input[type=email] {
                    border-bottom: 1px #FF8327 solid;
                    width: 48%;
                }
                textarea {
                    width: 100%;  
                    height: 35vh;
                    border: 1px #FF8327 solid;
                    margin-top: 30px;
                    resize: none;
                }
                button {
                    width: 100%;
                }
            }
            // END FORM
        }
        // END COMMENT SECTION
    }
    // END BLOG GRID
}