.linkSection {
    background-color: #111010;
    color: white;
    height: 65vh;
    padding-top: 120px;
    div.wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .link {
        width: 50%;
        display: flex;
        padding: 10px;
        // position: relative;
    }
    // .fa-2x,
    .favi {
        background-color: #BF2603;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }
    .fas {
        color: white;
    }
    .linkText {
        padding-left: 10px;
    }
}

.checker {
    background-color: #220303;
    color: white;
    padding: 40px 0 30px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    .gridLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img.chkImgOne {
            box-shadow: #FF8327 15px 15px;
            position: relative;
            top: -50px;
        }
    }
    .gridRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img.chkImgTwo {
            box-shadow: #FF8327 -15px 15px;
            position: relative;
            bottom: -70px;
        }
    }
    p {
        max-width: 450px;
        text-align: left;
    }
}
// ------------------------------BUTTONS
.readMore {
    background-color: #BF2603;
    color: white;
    font-size: 3rem;
    font-family: 'Tulpen One', cursive;
    padding: 5px 0;
    margin: 20px 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.party .readMore {
    width: 120px;
}

.formButton {
    border: none;
    font-family: 'Tulpen One', cursive;
    width: 90%;
    margin: 20px auto;
}


// ------------------------------END BUTTONS
.hostaParty {
    background-color: #111010;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 70px 0;
    .party {
        display: flex;
        flex-direction: column;
        a {
            margin: 20px auto;
        }
        p {
            width: 70%;
            align-self: center;
        }
    }
    img {
        margin: 40px auto;
    }
    .events {
        display: flex;
        justify-content: space-between;
        div {
            width: 70%;
            text-align: left;
            display: flex;
            flex-direction: column;
            // align-self: center;
            justify-content: space-between;
        }
        img {
            width: 25%;
            box-shadow: #FF8327 10px 10px;
            margin: 0;
        }
    }
}

.gallery {
    background-color: #220303;
    padding: 70px 0;
    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        width: 30%;
    }
}





// CONTACT

.contactMain {
    background-color: rgb(26, 26, 26);
    color: white;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .contact {
        letter-spacing: 2.6px;
        .socials {
            margin-top: 100px;
            width: 50%;
            .contactFavis {
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
            }
        }

        .contactInfo {
            margin-top: 30px;
        }
    }
    .form {
        width: 70%;
        height: 500px;
        padding: 30px;
        position: relative;
        top: -120px;
        right: -50px;
        background-color: #220303;
        box-shadow: #FF8327 15px 15px;

        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        input[type=text],
        input[type=email],
        textarea {
            background-color: #220303;
            font-family: 'Chathura', sans-serif;    
            border: none;
            color: white;
            font-size: calc(2rem + 1vw);
            text-align: left;
            padding-left: 10px;

        }
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        input[type=text],
        input[type=email] {
            border-bottom: 1px white solid;
            color: white;
            width: 48%;
        }
        textarea {
            width: 100%;  
            height: 35vh;
            border: 1px white solid;
            margin-top: 30px;
            color: white;
        }
        button {
            width: 100%;
        }
    }
}


// BLOG
.blogFullPage {
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 50px;
    aside {
        background-color: #220303;
        color: white;
        text-align: left;
        margin: 30% 3% 0 10%;
        padding: 20px 5px;
        height: 35%;
        h2 {
            font-size: calc(2.5rem + 1.5vw);
        }
        p {
            font-size: calc(1.5rem + 1vw);
        }
        a {
            color: #FF8327;
            font-size: calc(1.5rem + 1vw);
        }
        img {
            position: relative;
            width: 120%;
            left: -50px;
            top: -30px;
        }
        ul li::before  {
            content: "•";
            color: #FF8327;
            display: inline-block;
            margin-left: -1rem;
        }
    }

    img.blogTop {
        box-shadow: -30px 30px #FF8327;
        width: 65vw;
        position: relative;
        right: -40px;
        top: -100px;
    }

    .blogMain {
        color: white;
        .newMenu {
            border-left: 5px solid #FF8327;
            border-bottom: 5px solid #FF8327;
            padding: 60px;
            h3 {
                color: #FF8327;
            }
        }
    }

    .commentSection {
        color: white;
        padding: 50px;
        img {
            width: 100px;
            height: 100px;
            // padding: 10px;
        }
        .comment {
            display: flex;
            padding: 30px;
            div {
                width: 80%;
                padding-left: 20px;
                h3 {
                    color: #FF8327;
                    line-height: 70%;
                }
            }
        }
        form {
            height: 400px;
            padding: 0 50px;
            input[type=text],
            input[type=email],
            textarea {
                background-color: rgb(26, 26, 26);
                font-family: 'Chathura', sans-serif;    
                border: none;
                color: white;
                font-size: calc(2rem + 1vw);
                padding-left: 10px;
            }
            div {
                width: 100%;
                display: flex;
                justify-content: space-between;  
            }
            input[type=text],
            input[type=email] {
                border-bottom: 1px #FF8327 solid;
                color: white;
                width: 48%;
            }
            textarea {
                width: 100%;  
                height: 35vh;
                border: 1px #FF8327 solid;
                margin-top: 30px;
            }
            button {
                width: 100%;
            }
        }
    }
}